@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&family=Suez+One&family=Titan+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:mistyrose;
    background-image: linear-gradient(315deg, aliceblue 0%, mistyrose 100%);
    color: darkblue;
}

.head{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color:midnightblue;
    color: lightsteelblue;
    font-family: "Suez One";

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.head-title{
    padding: 25px;
    font-size:x-large;
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: left;
    color: tomato;
    font-family: "Suez One";
    font-size: medium;
    margin: 2rem  auto 1rem;
    width: 80vh;
    border-radius: 20px;
    
}

.descrip{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 750px;
    overflow: hidden;
    font-family: "Suez One";
    font-size: 1em; 
}



.result{
    display: flex;
    flex-direction: column;
    margin : 1em;
    padding : 1em;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 750px;
    overflow: hidden;
    font-family: "Suez One";
    font-size: 1.5em;
    

}

a{
    border : 2px solid;
    border-color: tomato;
    background-color: white;
    color: midnightblue;
    padding: 10px;
    outline: none;
    text-decoration: none;
    font-family: "Suez One";
    font-size: 1em;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

a:hover{
    background-color: tomato;
    color: white;
}

img{
    width: 300px;
    border-radius: 10px;
    border: 2px solid;
    border-color: tomato;
}

input[type="submit"]{
    border : 2px solid;
    border-color: tomato;
    background-color: white;
    color: midnightblue;
    padding: 10px;
    outline: none;
    text-decoration: none;
    font-family: "Suez One";
    font-size: 1em;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

input[type="submit"]:hover{
    background-color: tomato;
    color: white;
}