@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&family=Suez+One&family=Titan+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:mistyrose;
    background-image: linear-gradient(315deg, aliceblue 0%, mistyrose 100%);
    color: darkblue;
}

.head-quiz{
    display: flex;
    height: 10vh;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color:midnightblue;
    color: lightsteelblue;
    font-family: "Suez One";

}

.quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.head-title{
    padding: 25px;
    font-size:x-large;
}

.question {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    text-align: left;
    color: tomato;
    font-family: "Suez One";
    font-size: medium;
    width: 80vh;
    margin: 2% 30%;
    border-radius: 20px;
}

.reponses{
    display: flex;
    margin : 5% 30%;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 750px;
    overflow: hidden;
    

}

form{
    display: flex;
    flex-direction: column;
    flex:auto;
    justify-content: center;
    align-items: center;
    
}

.oneReponse {

    list-style-type: none;
    margin: 0.5rem;
    font-size: 1.5em;
    
}

label{
    font-family: "Suez One";
    cursor: pointer;
}

input[type="submit"]{
    cursor: pointer;
    background-color: midnightblue;
    color: lightsteelblue;
    display: block;
    width: 100%;
    cursor: pointer;
    height: 3rem;
    font-family: "Suez One";
    font-size: 2em;
}

input[type="submit"]:hover{
    background-color: tomato;
    color: white;
}

input[type = "radio"]{
    cursor: pointer;
    size: 2em;
}

input[type="radio"]:checked{
    color: tomato;
}

img{
    width: 300px;
    border-radius: 10px;
    border: 2px solid;
    border-color: tomato;
}

a{
    border : 2px solid;
    border-color: tomato;
    background-color: white;
    color: midnightblue;
    padding: 10px;
    outline: none;
    text-decoration: none;
    font-family: "Suez One";
    font-size: 1em;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

a:hover{
    background-color: tomato;
    color: white;
}